.container {
    z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;              
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;                  
  left: 50%;              
  transform: translate(-50%, -50%); 
  background: none;
}