<div class="container" *ngIf="!isTokenValid">
  <h1>🚪 Connectez-vous pour plus d'information</h1>
</div>

<div class="container" *ngIf="isTokenValid">
  <h2>👋🌍 Vous êtes connecté grâce à la validité de votre token</h2>
  <br /><br />

  <h3>Liste des utilisateurs :</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user.firstName }} {{ user.lastName }}
      <input
        [type]="user.showLogin ? 'text' : 'password'"
        [value]="user.login"
        readonly
        style="
          border: none;
          background: transparent;
          width: 100px;
          cursor: pointer;
        "
        (click)="toggleLogin(user)"
        title="Cliquez pour afficher le login"
      />
      <button (click)="editUser(user)" class="btn-edit">Modifier</button>
      <button (click)="confirmDelete(user)" class="btn-delete">
        Supprimer
      </button>
    </li>
  </ul>
</div>
