.container {
    z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;              
  background-color: #f5f5f5;
  position: absolute;
  top: 40%;                  
  left: 50%;              
  transform: translate(-50%, -50%); 
  background: none;
}

.container h1 {

  margin-bottom: 20px;
}

.connected-image {
  margin-top: 20px;
  width: 150px;   
  height: auto;
  border-radius: 10px; 
}
