
.navbar {
       z-index: 2;
  background-color: #1976d2;
  color: white;
  padding: 4px 2px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

.container {
    
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: top;    
  gap: 20px;              
  width: 100vw;
}

.btn {   z-index: 2;
    margin-top: 1vw;
    height: 3vw;
  padding: 12px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1565c0;
}
