
.register-container {
    z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;              
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;                  
  left: 50%;              
  transform: translate(-50%, -50%); 
  background: none;
}


.card {
  width: 400px;           
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
